# General
.DS_Store

# Environment Variables
# Ignore all .env files in any subdirectory
**/.env

# Python Backend
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/venv/
backend/*.venv/
backend/env/

# Node / Expo Frontend
frontend/node_modules/
frontend/.expo/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/web-build/

# IDE / Editor specific
.vscode/

# .expo/
.expo/